@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

  <!-- article-news -->
  <section class="article-news">
    <div class="container">
      <div class="headline">
        <h6>Article & News</h6>
        <h2>Get Every Single Articles & News</h2>
        <a class="btn-transparent" href="services.html">Browse Articles <i class="fa-regular fa-arrow-up-right"></i></a>
      </div>
      <div class="articles">
        <div class="article-item">
          <div class="article-img">
            <div class="date-box">
              <p id="day">25</p>
              <p id="month">Mar</p>
            </div>
            <img src="images/article1-img.png" alt="">
          </div>
          <p>Business</p>
          <h5>How To Use Digitalization In The Classroom</h5>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto sed hic libero.</p>
        </div>
        <div class="article-item">
          <div class="article-img">
            <div class="date-box">
              <p id="day">17</p>
              <p id="month">Mar</p>
            </div>
            <img src="images/article2-img.png" alt="">
          </div>
          <p>Business</p>
          <h5>How To Implement Chat GPT In Your Projects</h5>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto sed hic libero.</p>
        </div>
        <div class="article-item">
          <div class="article-img">
            <div class="date-box">
              <p id="day">13</p>
              <p id="month">Mar</p>
            </div>
            <img src="images/article3-img.png" alt="">
          </div>
          <p>Business</p>
          <h5>The Guide To Support Modern CSS Design</h5>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto sed hic libero.</p>
        </div>
      </div>
    </div>
  </section>