@using Umbraco.Cms.Core.Models
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage 

  <!-- companies logos-->
  <section class="companies">
    <div class="container">
        @{
            var brandImages = Model.Value<IEnumerable<MediaWithCrops>>("brandImages");
            foreach (var entry in brandImages)
            {
                <img id="logo-1" src="@entry.MediaUrl()" alt="">
            }
        }
    </div>
  </section>
  
