@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

  <!-- choose us -->
  <section class="choose-us">
    <div class="container">
      <div class="choose-us-content">
        <h6>Why Choose Us</h6>
        <h2>Why We Are The Best Business Consulting Agency</h2>
        <div class="choose-us-item">
          <img src="~/images/icons/thumbs-up.svg" alt="">
          <h5>Process Excellence</h5>
          <p>Lorem, ipsum dolor sit amet consectetur.</p>
        </div>
        <div class="choose-us-item">
          <img src="~/images/icons/planning.svg" alt="">
          <h5>Strategic Planning</h5>
          <p>Lorem, ipsum dolor sit amet consectetur.</p>
        </div>
        <div class="choose-us-item">
          <img src="~/images/icons/design.svg" alt="">
          <h5>Experience Design</h5>
          <p>Lorem, ipsum dolor sit amet consectetur.</p>
        </div>
        <div class="choose-us-item">
          <img src="~/images/icons/ai.svg" alt="">
          <h5>Artificial Inteligence</h5>
          <p>Lorem, ipsum dolor sit amet consectetur.</p>
        </div>
      </div>
      <div class="choose-us-image">
        <img src="images/choose-us-img.png" alt="">
      </div>
    </div>
  </section>