@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

  <!-- footer -->
  <footer>
    <div class="footer-top">
      <div class="container">
        <div class="footer-content">
          <img src="~/images/logos/footer-logo.svg" alt="">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat obcaecati voluptas voluptates! Voluptates
            laborum nam ratione minus necessitatibus, iure praesentium.</p>
        </div>
        <div class="footer-links">
          <div class="link-item">
            <h5>Company</h5>
            <a href="#">About</a>
            <a href="#">Features</a>
            <a href="#">Works</a>
            <a href="#">Career</a>
          </div>
          <div class="link-item">
            <h5>Help</h5>
            <a href="#">Customer Support</a>
            <a href="#">Delivery Details</a>
            <a href="#">Terms & Conditions</a>
            <a href="#">Privacy Policy</a>
          </div>
          <div class="link-item">
            <h5>Resources</h5>
            <a href="#">Free eBooks</a>
            <a href="#">Development Tutorial</a>
            <a href="#">How to - Blog</a>
            <a href="https://youtube.com" target="_blank">Youtube Playlist</a>
          </div>
          <div class="link-item">
            <h5>Link</h5>
            <a href="#">Free eBooks</a>
            <a href="#">Development Tutorial</a>
            <a href="#">How to - Blog</a>
            <a href="https://youtube.com" target="_blank">Youtube Playlist</a>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="container">
        <p>&copy; @DateTime.Now.Year Crito - Consulting Company Inc. All Rights Reserved.</p>
        <div class="social-media">
          <a href="https://facebook.com/" target="_blank"><i class="fa-brands fa-facebook"></i></a>
          <a href="https://twitter.com/" target="_blank"><i class="fa-brands fa-x-twitter"></i></a>
          <a href="https://instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
          <a href="https://linkedin.com/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
        </div>
      </div>
    </div>
  </footer>