@using Crito.Models
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
    var newsletterForm = new NewsletterForm();
}

<!-- newsletter -->
<section class="newsletter">
    <div class="container">
        <h2>Get News Updates By Signup</h2>
        @using (Html.BeginUmbracoForm("Index", "Subscribers", FormMethod.Post))
        {
            <div asp-validation-summary="All"></div>

            <input asp-for="@newsletterForm.Email" type="email" placeholder="Email*">
            <div class="d-grid">
                <button type="submit" class="btn-theme">Send Message <i class="fa-solid fa-arrow-up-right"></i></button>
            </div>
        }
    </div>
</section>
