@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

  <!-- projects -->
  <section class="projects">
    <div class="container">
      <h6>Project & Case Studies</h6>
      <h2>Let’s Looks Our Global Projects</h2>
      <div class="content">
        <div class="content-items">
          <div class="content-item item-left">
            <img src="images/projects-img-1.png" alt="">
            <h5>Grow your business</h5>
            <a href="#">Read more <i class="fa-regular fa-arrow-up-right"></i></a>
          </div>
          <div class="content-item item-left">
            <img src="images/projects-img-3.png" alt="">
            <h5>Educate your employees to get better results</h5>
            <a href="#">Read more <i class="fa-regular fa-arrow-up-right"></i></a>
          </div>
        </div>
        <div class="content-items">
          <div class="content-item">
            <img src="images/projects-img-2.png" alt="">
            <h5>Why your client needs a responsive website</h5>
            <a href="#">Read more <i class="fa-regular fa-arrow-up-right"></i></a>
          </div>
          <div class="content-item">
            <img src="images/projects-img-4.png" alt="">
            <h5>Business Insights is a important piece of your business</h5>
            <a href="#">Read more <i class="fa-regular fa-arrow-up-right"></i></a>
          </div>
        </div>
      </div>
      <div class="center-btn">
        <a class="btn-black" href="services.html">All Recent Projects <i class="fa-regular fa-arrow-up-right"></i></a>
      </div>
    </div>
  </section>