@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

  <!-- team members -->
  <section class="team-members">
    <div class="container">
      <div class="headline">
        <h6>Meet Our Team</h6>
        <h2>Experience Team Members</h2>
        <a class="btn-yellow" href="#">Browse Team <i class="fa-regular fa-arrow-up-right"></i></a>
      </div>
      <div class="member-cards">
        <div class="member-card">
          <img src="images/team-img-1.png" alt="">
          <h5>Kristine Palmer</h5>
          <p>Chef Operation Officer</p>
        </div>
        <div class="member-card">
          <img src="images/team-img-2.png" alt="">
          <h5>Mark Aubri</h5>
          <p>Senior Consultant</p>
        </div>
        <div class="member-card">
          <img src="images/team-img-3.png" alt="">
          <h5>Kimberly Hansen</h5>
          <p>Senior Consultant</p>
        </div>
        <div class="member-card">
          <img src="images/team-img-4.png" alt="">
          <h5>Justin Willoman</h5>
          <p>Senior Tech Consultant</p>
        </div>
      </div>
    </div>
  </section>
