@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

  <!-- testimonial -->
  <section class="testimonial">
    <div class="container">
      <h6>Testimonial</h6>
      <h2>What Our Client Says</h2>
      <div class="reviews">
        <div class="review-item">
          <i class="fa-solid fa-star-sharp"></i><i class="fa-solid fa-star-sharp"></i><i
            class="fa-solid fa-star-sharp"></i><i class="fa-solid fa-star-sharp"></i><i
            class="fa-solid fa-star-sharp"></i>
          <p>"Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium libero, ad dignissimos velit qui,
            dolorum obcaecati cum saepe nesciunt nemo eligendi numquam voluptate"</p>
          <div class="client">
            <img src="images/client-1-img.png" alt="">
            <div>
              <h5>Cassandra Warren</h5>
              <p>Business Manager, Dorfus</p>
            </div>
          </div>
        </div>
        <div class="review-item">
          <i class="fa-solid fa-star-sharp"></i><i class="fa-solid fa-star-sharp"></i><i
            class="fa-solid fa-star-sharp"></i><i class="fa-solid fa-star-sharp"></i><i
            class="fa-solid fa-star-sharp"></i>
          <p>"Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium libero, ad dignissimos velit qui,
            dolorum obcaecati cum saepe nesciunt nemo eligendi numquam voluptate"</p>
          <div class="client">
            <img src="images/client-2-img.png" alt="">
            <div>
              <h5>Amanda Tulling</h5>
              <p>Senior Developer, Square</p>
            </div>
          </div>
        </div>
        <div class="review-item">
          <i class="fa-solid fa-star-sharp"></i><i class="fa-solid fa-star-sharp"></i><i
            class="fa-solid fa-star-sharp"></i><i class="fa-solid fa-star-sharp"></i><i
            class="fa-solid fa-star-sharp"></i>
          <p>"Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium libero, ad dignissimos velit qui,
            dolorum obcaecati cum saepe nesciunt nemo eligendi numquam voluptate"</p>
          <div class="client">
            <img src="images/client-3-img.png" alt="">
            <div>
              <h5>Jack McDogglas</h5>
              <p>Key Account Manager, Gobona</p>
            </div>
          </div>
        </div>
      </div>
      <div class="review-button">
        <a class="btn-black" href="services.html">All Reviews <i class="fa-regular fa-arrow-up-right"></i></a>
      </div>
    </div>
  </section>
